<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Chat</title>
</head>
<body>
    <h1>Welcome to Chat</h1>
    <p>Click <a href="/index">here</a> to start chatting.</p>
     <h1>New to chat? <a href="/signup">Sign up</a> </h1>
     <h1>Already a user? <a href="/signin"> Sign in</a></h1>
     <script src="/socket.io/socket.io.js"></script>
     <script>
        const socket = io();
     </script>
</body>
</html>